/* 
font-family: 'Josefin Slab', serif;
font-family: 'Rokkitt', serif;
 */

/*         */
/* GENERAL */
/*         */

* {
  font-family: 'Kodchasan', sans-serif;
  font-weight: 200;
 }

body {
  font-family: 'Kodchasan', sans-serif;
  font-weight: 200;
  background-image: url(images/background_4.jpg);
  background-size: cover;
  background-attachment: fixed;
}

body:after {
  content: "";
  position: fixed; /* stretch a fixed position to the whole screen */
  top: 0;
  height: 100vh; /* fix for mobile browser address bar appearing disappearing */
  left: 0;
  right: 0;
  z-index: -1; /* needed to keep in the background */
  background: url(images/background_4.jpg) center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p {
  /* font-size: 0.85rem; */
  /* font-family: 'Josefin Slab', serif; */
}

h4 {
  text-transform: uppercase;
  padding-bottom: 1.8rem;
  padding-top: 1.4rem;
  font-size: 1.4rem;
  /* font-family: 'Josefin Slab', serif; */
}

.subsection {
  padding-bottom: 2.5rem;
  margin: 0 auto;
}

.subheader {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  text-align: center;
}

.subheader h4 {
  padding-bottom: 0;
}

/*        */
/* NAVBAR */
/*        */

.df--navigation  {
  /* font-family: 'Josefin Slab', serif; */
  background-color: white;
}

.navbar-light .navbar-brand {
  color: #373737;
}
.nav-item {
  margin-left: 0.6rem;
  color: #373737;
}
.nav-item .nav-link {
  color: #373737;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler i {
  color: #373737;
}

/*           */
/* JUMBOTRON */
/*           */

.df--main-jumbotron {
  color: #ffffff;
  text-shadow: 1px 1px 5px #373737;
  /* font-family: 'Josefin Slab', serif; */
  background-color: transparent;
}

.df--home {
  padding-top: 15%;
  padding-bottom: 10%;
}

.df--home.row {
  margin: 0 auto;
}

.df--home img{
  margin-bottom: 1rem;
}

.df--home .df--home--about {
  background-color: rgba(255,255,255,0.5);
  border: 5px solid white;
  color: #41474e;
  font-size: 1.3rem;
}

.df--home--about--title {
  
}
/*       */
/* ABOUT */
/*       */

.df--tech {
  background-color: rgba(243, 243, 243, 0.53);;
}

.df--tech .row {
  width: 80%;
  margin: 0 auto;
}

/*          */
/* SERVICES */
/*          */

.df--services {
  background-color: rgba(243, 243, 243, 0.53);
  text-align: justify;
}

.service-item i {
  color: #373737;
  margin-bottom: 1rem;
}

/*           */
/* PORTFOLIO */
/*           */

.df--portfolio {
  /* background-color: #c7586fb0; */
  background-color: rgba(224, 179, 94, 0.7);
  color: white;
}

.df--portfolio .row {
  width: 80%;
  margin: 0 auto;
}

.df--portfolio img {
  max-width: 200px;
  height: auto;
}

.portfolio-item {
  margin-top: 2.5rem;
}


/*        */
/* RESUME */
/*        */

.df--resume .container-fluid{
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0 0 2rem 0;
}
.df--resume .section {
  color: #EEEEEE;
}

.width {
  width: 70%;
}

.resume-item {
  padding: 1rem;
  min-height: 200px;
  text-align: left;
}

.resume-item h6 {
  margin-top: 0;
  font-size: 1.2rem;
  font-family: 'Rokkitt', serif;
}

.resume-item h6,
.resume-item p {
  padding-left: 2rem;
}

/*        */
/* FOOTER */
/*        */

footer {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #FAFAFA;
}

footer a {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #373737;
}
footer a:hover,
footer a:focus {
  text-decoration: none;
  color: #FFE899;
}

footer .fa {
  font-size: 1.5rem;
}

footer .fa:hover {
  text-shadow: 2px 2px 7px FFFFFF;
  color: #373737;
}


/* Animation classes */

.hoverIt {
  /* box-shadow: 1px 1px 5px #373737; */
  z-index: 2;
  transition: all 200ms ease;
  transform: scale(1.05);
}

.scrolled nav {
  background-color: #EEEEEE;
  text-shadow: 0 0 3px #ddd;
}

.pre-figure span {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 0;
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  opacity: 0;
  text-shadow: 1px 1px 3px grey;
}

.pre-figure img {
  border-radius: 40px;
}

figure:hover + span {
  bottom: -25px;
  opacity: 1;
}


/*
 * Device = Most of the Smartphones Mobiles (Portrait)
 *
 */

@media (min-width: 1px) and (max-width: 768px) {
  body {
    background-image: url(images/background_4.jpg);
    background-attachment: fixed;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  body:after {
    content: "";
    position: fixed; /* stretch a fixed position to the whole screen */
    top: 0;
    height: 100vh; /* fix for mobile browser address bar appearing disappearing */
    left: 0;
    right: 0;
    z-index: -1; /* needed to keep in the background */
    background: url(images/background_4.jpg) center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  #home {
      /* background-color: rgba(255, 255, 255, 0.479); */
      border-radius: 10px;
      padding: 0.5rem;
    }

  .pre-figure span {
    position: absolute;
    bottom: -18px;
    left: 0;
    z-index: 0;
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    color: white;
    font-size: 1rem;
    text-decoration: none;
    opacity: 1;
    text-shadow: 1px 1px 3px grey;
  }

  nav,
  .navbar {
    /* background-color: $nav-bg-scroll; */
  }

  /* .main {
    padding: 0;
    margin-top: -75px; */

    .df--main-jumbotron {
      padding-top: 70%;
      left: 5%;
      text-shadow: 1px 1px 5px white;
    }
  /* } */

  .resume-section {
    /* .width {
      width: 100%;
    } */
  }

}

@media (min-width: 1px) and (orientation: landscape) {
  /* .main {
    padding: 0;
    margin-top: -75px; */

    .df--main-jumbotron {
      padding-top: 40%;
      left: 5%;
      text-shadow: 1px 1px 5px white;
    }

}

@media (min-width: 768px) {
  /* .main {
    padding: 0;
    margin-top: -75px; */

    .df--main-jumbotron {
      padding-top: 50%;
      left: 5%;
      text-shadow: 1px 1px 5px white;
    }
  /* } */
}

@media (min-width: 768px) and (orientation: landscape) {
  /* .main {
    padding: 0;
    margin-top: -75px; */

    df--main-jumbotron {
      padding-top: 60%;
      left: 5%;
      text-shadow: 1px 1px 5px white;
    }
  /* } */
}

@media (min-width: 1025px) {
  /* .main {
    padding: 0;
    margin-top: -75px; */

    .df--main-jumbotron {
      padding-top: 45%;
      left: 5%;
      text-shadow: 1px 1px 5px white;
    }
  /* } */

  .pre-figure figure img {
    /* -webkit-filter: blur(100%);
    filter: blur(100%); */
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }

}